.rails_blog_engine_comment.show{:class => comment_classes(comment)}
  = render(:partial => 'rails_blog_engine/comments/tools',
           :locals => { :comment => comment })
  %h4.byline
    %a{:name => "comment-#{comment.id}"}
      = comment_author_html(comment)
      said
      %a{:class => "comment-link", :href => "#comment-#{comment.id}"}= distance_of_time_in_words_to_now(comment.created_at)
      ago:
  %div.rails_blog_engine_body
    ~ markdown(comment.body, :trusted? => comment.author_can_post?)
