- if can?(:update, comment)
  .comment-tools
    - if can?(:mark_as_ham, comment) && comment.can_mark_as_ham?
      = link_to("Not Spam",
                mark_as_ham_post_comment_path(comment.post, comment),
                :method => :post, :class => "btn")
    - if can?(:mark_as_spam, comment) && comment.can_mark_as_spam?
      = link_to("Spam",
                mark_as_spam_post_comment_path(comment.post, comment),
                :method => :post, :class => "btn")
