@import "rails_blog_engine/config";

.rails_blog_engine {

  .rails_blog_engine_comment.show {
    border: 1px solid lightgrey;
    padding: $box_padding $box_padding
             ($box_padding - $blank_line_height) $box_padding;
    margin-bottom: $blank_line_height*2;

    &.spam {
      background: lighten(#ffb6c1, 10%);
      border-color: lighten(#ffb6c1, 5%);
      color: darkgrey;
    }

    >.byline {
      margin-top: 0;
      font-weight: normal;

      a.comment-link {
        color: inherit;
        &:link, &:visited { text-decoration: none; }
        &:hover, &:active { text-decoration: underline; }
      }
    }

    >.comment-tools {
      float: right;
      margin: 0 0 $blank_line_height $blank_line_height;
    }
  }
}
