.rails_blog_engine_comment.show {
  border: 1px solid lightgrey;
  padding: 10px 10px 0 10px;
  margin-bottom: 20px;
  max-width: 600px;

  &.spam {
    background: lighten(#ffb6c1, 10%);
    border-color: lighten(#ffb6c1, 5%);
    color: darkgrey;
  }

  >.byline {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: normal;

    a.comment-link {
      color: inherit;
      &:link, &:visited { text-decoration: none; }
      &:hover, &:active { text-decoration: underline; }
    }
  }

  >.comment-tools {
    float: right;
    margin: 0 0 10px 10px;
  }
}