// Place all the styles for posts and lists of posts here.  We assume a
// light background color.

.rails_blog_engine_posts {
  .new_post.btn, nav {
    margin-bottom: 20px;
  }
}

.rails_blog_engine_post {
  color: black;
  margin-bottom: 20px;

  // Clear top margins. We'll use the bottom margin for spacing.
  >h1, >p.byline, >.body {
    margin-top: 0;
  }

  >h1 {
    margin-bottom: 0px;
    .btn {
      vertical-align: text-bottom;
    }
  }

  >p.byline {
    margin-bottom: 10px;
    color: grey;
  }

  // This works at both the top level and in nested comments.
  .body {
    >blockquote, >dl, >embed, >h1, >h2, >h3, >h4, >h5, >h6, >hr, >object, >ol,
    >p, >pre, >table, >ul, >aside, >figure, >header, >hgroup, >section {
      margin-bottom: 10px;
    }
  }

  // We use this for moderation warnings.
  >.flash.notice {
    border: 1px solid #049cdb;
    background: #c7eefe;
    padding: 10px;
    max-width: 600px;
  }
}
