// Place all the styles for posts and lists of posts here.  We assume a
// light background color.

.rails_blog_engine {

  // Set up a two-column model with 2/3rds of the space for the blog posts,
  // and 1/3rd for the sidebar.  These defaults are designed to fit into a
  // 960-pixel grid with 940 pixels of content, and to look reasonable
  // elsewhere.  Tweak as needed.
  .rails_blog_engine_content, .rails_blog_engine_sidebar { float: left; }
  .rails_blog_engine_content { width: 66.67%; }
  .rails_blog_engine_sidebar { width: 33.33%; }

  // We put the column gutters in a separate element so that we can use
  // percentage widths above without messing up the box model.  If your grid
  // doesn't leave 10 pixels of padding around each column, repalace this
  // with something more appropriate.
  .rails_blog_engine_column { padding: 0 10px; }

  // Formatting for post bodies, comment bodies, and sidebar content.  We
  // eliminate the top margin, and use the bottom margin to space blocks.
  .rails_blog_engine_body {
    >blockquote, >dl, >embed, >h1, >h2, >h3, >h4, >h5, >h6, >hr, >object, >ol,
    >p, >pre, >table, >ul, >aside, >figure, >header, >hgroup, >section {
      margin: 0 0 10px 0;
    }
  }

  // Formatting for lists of posts.
  .rails_blog_engine_posts {
    .new_post.btn, nav {
      margin-bottom: 20px;
    }
  }

  // Formatting for individual posts, either standalone or in a list.
  .rails_blog_engine_post {
    color: black;
    margin-bottom: 20px;

    // Clear top margins. We'll use the bottom margin for spacing.
    >h1, >p {
      margin: 0 0 10px 0;
    }

    >h1 {
      margin-bottom: 0px;
      .btn {
        vertical-align: text-bottom;
      }
    }

    >p.byline {
      color: grey;
    }

    // We use this for moderation warnings.
    >.flash.notice {
      border: 1px solid #049cdb;
      background: #c7eefe;
      padding: 10px;
    }
  }
}
