- content_for :title do
  = t('rails_blog_engine.blog.title')

.rails_blog_engine_posts
  - if can?(:create, RailsBlogEngine::Post)
    = link_to "New Post", new_post_path, :class => "new_post btn large primary"

  = render @posts
  = paginate @posts
