/*
 * Include the CSS files required by rails_blog_engine.
 *
 *= require rails_blog_engine/ui/bootstrap_extracts
 *= require rails_blog_engine/ui/simple_form
 *= require rails_blog_engine/filters/code
 *
 *= require rails_blog_engine/layout
 *= require rails_blog_engine/posts
 *= require rails_blog_engine/comments
 *= require rails_blog_engine/customizations
*/
