<!DOCTYPE html>
<html>
<head>
  <title>RailsBlogEngine</title>
  <%= stylesheet_link_tag    "rails_blog_engine/application" %>
  <%= javascript_include_tag "rails_blog_engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
